// app global css in SCSS form

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-Regular.woff2);
}

@font-face {
  font-family: PressStart;
  src: url(../../public/fonts/pixellocale-v-1-4.ttf);
}

@font-face {
  font-family: "Pixel4B";
  src: url(../../public/fonts/04B.ttf);
}

@font-face {
  font-family: "PixeloidSans";
  src: url(../../public/fonts/PixeloidSans.ttf);
}

@font-face {
  font-family: "FreePixel";
  src: url(../../public/fonts/FreePixel.ttf);
}

@font-face {
  font-family: "RedAlert";
  src: url(../../public/fonts/C&CRedAlert.ttf);
}

@font-face {
  font-family: "Munro";
  src: url(../../public/fonts/munro.ttf);
}

// declare a class which applies it

//.my-font {
//  font-family: "customfont";
//}
